.Card {
    height: 200px;
    width: 500px;
    margin-left: 20px;
    background-color: var(--white);
    border-radius: 10px;
    padding-left: 5px;
    display: flex;
    box-shadow: 3px 3px 5px 1px #888888;
    position:   relative;
}

.Card__container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card__container__picture {
    height: 95%;
    width: 190px;
    background-size: cover;
    border-radius: 10px;
    background-position: center;
}

.Card__info {
    height: 100%;
    flex: 1;
}
.Card__info__left{
    padding: 10px;  
}
.Card__info__left_nameHL{
    border-bottom: 1px solid var(--shape);
}
.Card__info__left__distance{
    margin-top: 5px;
    display: flex;
    border-bottom: 1px solid var(--shape);
}
.Card__info__left__comment{
    padding-top: 10px;
}
.Card__info__left__book{
    margin-bottom: 10px;
    display: flex;
    position: absolute;
    bottom: 0;
    align-items: center;
}