/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@450&display=swap');
@import './asset/style/variables';

:root {
  --c1: #6acb2c;
  --bs-btn-bg: #6366f1;
  --hover: #e8eaec;
  --background: #f9fafc;
  --background2: #ffffff;
  --yellow: #faaf00;
  --white: #fff;
  --shape: rgb(215, 218, 219);
  --red : #b30018
}
*{
  font-family:  Roboto;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}
p {
  margin: 0 !important;
}
@media (min-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.me-auto{
  margin-right: unset !important;
}
