.homePage {
    height: 100%;
    width: 100%;
    padding-top: 20px;
    background-color: var(--background);
}

.search {
    margin-right: 10px;
}

.search__input::placeholder {
    color: rgb(180, 177, 177);
}
/* .p-dropdown-panel{
    width: 100%;
} */
.homePage__search {
    width: 100%;
    display: flex;
    justify-content: center;
}

.homePage__search__box {
    display: flex;
}

.homePage__search__price {
    display: flex;
    margin-left: 20px;
}

.Card__info__left__distance {
    display: flex;
}

.p-dropdown {
    margin-bottom: 5px;
}

.p-dropdown .p-placeholder {
    color: rgb(180, 177, 177) !important;
}

.p-dropdown .p-dropdown-label {
    color: black;
}

.p-dropdown .p-dropdown-trigger-icon {
    color: rgb(180, 177, 177);
}

.homePage__body {
    display: flex;
}

.homePage__body__hotel {
    width: 50%;
}

/* map */
.homePage__body_map {
    width: 45%;
    margin-top: 20px;
    height: 93vh;
    position: sticky;
    top: 65px;
}

.homePage__body__map__item {
    height: 100%;
    box-shadow: 0px 0px 5px 1px #888888;
    background-size: cover;
    border-radius: 10px;
    top: 0;
}

.p-dropdown {
    margin-right: 5px;
    background-color: #fff !important;
    height: 45px;
    width: auto;
    color: black;
    border-radius: 8px !important;
    margin-left: 10px;
}

.homePage__search__price__slider {
    width: 200px;
    margin-right: 20px;
}
.homePage__body__change{
    display: none;
}

/* width < 470px */
@media only screen and (max-width: 46.1875rem) {
    .p-dropdown {
        margin-right: 0.02px;
        height: 40px;
        width: auto;
        width: 108px;
        color: black;
        border-radius: 8px !important;
    }

    .p-inputtext {
        font-size: 0.8rem !important;
        height: 100%;
    }

    .homePage__search {
        display: flex;
        justify-content: center;

    }

    .homePage__search__price {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .homePage__search__box {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }
    .homePage__body{
        height: 74vh;
        width: 100%;
    }
    .homePage__body_map {
        display: none;
    }
    .homePage__body_map_show {
        display: block;
        width: 100%;
        height: 97.59%;
        margin-top: 20px;
        position: sticky;
        border: 1px solid var(--sh);
    }
    .homePage__body__map__item {
        border-radius: 0;
        box-shadow: none;
    }
    .homePage__body__map__item iframe{
        border-radius: 0 !important;
    }
    .homePage__search__price__slider {
        width: 208px !important;
    }

    .homePage__search__price__btn {
        height: 38px !important;
        width: 108px !important;
        margin-right: 22px !important;
    }
    .homePage__body__hotel {
        width: 100%;
    }
    .homePage__body__change{
        display: block;
        position:fixed ;
        background-color: rgba(28, 150, 28, 0.7);
        padding: 10px;
        border: 1px solid var(--shape);
        color: var(--white);
        bottom: 0;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    }
    .homePage__body__change:hover{
        cursor: pointer;
        background-color: rgb(0, 97, 0);
    }
}