/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import './asset/style/variables';
:root{
  --c1: #6acb2c;
  --bs-btn-bg: #2995ce;
  --hover: #afb3bc;
  --background: #f3f4f5;
  --background2: #f9fafa;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
*{
  margin: 0;
  padding: 0;   
}
@media (min-width: 1400px){
.container {
    max-width: 100%;
}}
.button{
    background-color: var(--c2);
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
  }


