/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@450&display=swap');
@import './asset/style/variables';

:root {
  --c1: #6acb2c;
  --bs-btn-bg: #43b4f1;
  --hover: #afb3bc;
  --background: #f3f4f5;
  --background2: #f9fafa;
  --yellow: #efd201;
  --white: #fff;
  --shape: rgb(215, 218, 219);
}
*{
  font-family:  Roboto;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

@media (min-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
